/****************
 General
****************/

@import url('https://fonts.googleapis.com/css2?family=Figtree');

/*
:root {}
*/

body { 

    --colour-whitest: 234, 238, 238;
    --colour-blackest: 30, 30, 30;

    --colour-main-head: 35, 95, 136;
    --colour-main-dark: 16, 45, 65;
    --colour-main-light: 212, 231, 245;

    --colour-neutral-light-rgb: 200, 200, 200;
    --colour-neutral-mid-rgb: 120, 120, 120;
    --colour-neutral-medium-rgb: 40, 40, 40;
    --colour-neutral-dark-rgb: 25, 25, 25;
    --layout-spacing-standard: 0.5rem;
    --cards-ccg-height: 20rem;   

	--colour-red: 220, 80, 80;
	--colour-green: 80, 220, 80;
	--colour-blue: 50, 80, 220;

    --colour-pastel-red: 222, 135, 148;
    --colour-pastel-orange: 222, 196, 135;
    --colour-pastel-green: 135, 222, 161;
    --colour-pastel-blue: 135, 199, 222;
    --colour-pastel-purple: 186, 135, 222;

    --font-text-theme: 'Figtree';   /* Font family for page text                                    */
    --font-text: 'Figtree';         /* (--font-text: var(--font-text-theme), var(--font-default);)  */ 
    
    --h1-size: 3em; /* Default: 1.802em; */
    --h2-size: 2.2em;/* Default: 1.602em; */
    --h3-size: 1.6em; /* Default: 1.424em; */
    --h4-size: 1.2em; /* Default: 1.266em; */
    --h5-size: 1.1em; /* Default: 1.125em; */
    --h6-size: 1em; /* Default: 1em;     */
    --inline-title-size: var(--h2-size); /* Default: var(--h1-size); */
    
    --heading-spacing: calc(var(--p-spacing) * 1.5); /* Default is * 2.5 */
    
    --metadata-label-width: 12em; /* Default is 9em */
    --callout-fold-height: 24px; /* Default */
	--file-line-width: 800px; /* Default is 700px */
    
}

/****************
 Atomic Classes
****************/

.text-red { color: rgb(var(--colour-red)); }
.text-green { color: rgb(var(--colour-green)); }
.text-blue { color: rgb(var(--colour-blue)); }


/****************
 App vs Publish Hides (particularly for Dynamic Local vs Publish Cache for Dataview blocks (TPDV mechanism))
****************/

.published-container .pre.language-dataview,    /* Hide Dataview code blocks in publish */
.published-container .dataview,                 /* Hide manually-wrapped Dataview blocks (for inline dataviews) when in publish */
.popover .dataview,                             /* Hide manually-wrapped Dataview blocks (for inline dataviews) when in publish popovers */
.obsidian-app span[alt*="app-hidden"],          /* Hide manually-wrapped content specifically with "app-hidden" alt text e.g. TPDV translcusions */
.published-container .pub-hidden,               /* Hide manually-wrapped content specifically with "pub-hidden" class */
.published-container span[alt*="pub-hidden"]    /* Hide manually-wrapped content specifically with "pub-hidden" alt text */
{
    display: none !important; 
}


/****************
 Offset Popovers (so stop interfering with clicks)
****************/
.popover.hover-popover {
    margin: 5px;
}


/****************
 Headings
****************/

.markdown-rendered h1,
.markdown-rendered h2, 
.markdown-rendered h3, 
.markdown-rendered h4, 
.markdown-rendered h5, 
.markdown-rendered h6 {
    border: none !important;
    margin-top: var(--heading-spacing) !important;
    clear: left;
}


/****************
 Layout and Images
****************/

.pws-widescreen {
	--file-line-width: 4000px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.image img {
    margin: var(--layout-spacing-standard);
}

.image-boxed img {
    border: 1px solid rgba(var(--colour-neutral-mid-rgb), 0.4);
    border-radius: var(--layout-spacing-standard);
    box-shadow: 0px 0px 2px 1px rgba(var(--colour-neutral-medium-rgb), 0.4);
}

.image-padded img {
    padding: var(--layout-spacing-standard);
}

.bg-whitest img { background-color: rgb(var(--colour-whitest)); }
.bg-blackest img { background-color: rgb(var(--colour-blackest)); }

div:has(> p > .float-right) { float: right; }
div:has(> p > .float-left) { float: left; }
p:has(.float-right), p:has(.float-left) { margin: 0; }
p:has(.center-text) { text-align: center; }


/****************
 Callouts
****************/

/* General Formattting Overrides */
.callout {
    & > .callout-title {
        & > .callout-icon { margin: auto 4px; }
        & > .callout-fold { margin: auto 4px; }
        & > .callout-title-inner {
            & > h1 { margin-top: calc(0.1 * var(--h1-size)) !important; margin-bottom: calc(0.1 * var(--h1-size)) !important;}
            & > h2 { margin-top: calc(0.1 * var(--h2-size)) !important; margin-bottom: calc(0.1 * var(--h2-size)) !important;}
            & > h3 { margin-top: calc(0.1 * var(--h3-size)) !important; margin-bottom: calc(0.1 * var(--h3-size)) !important;}
            & > h4 { margin-top: calc(0.1 * var(--h4-size)) !important; margin-bottom: calc(0.1 * var(--h4-size)) !important;}
            & > h5 { margin-top: calc(0.1 * var(--h5-size)) !important; margin-bottom: calc(0.1 * var(--h5-size)) !important;}
            & > h6 { margin-top: calc(0.1 * var(--h6-size)) !important; margin-bottom: calc(0.1 * var(--h6-size)) !important;}
        }
    }
}

/* Custom Callouts */
.callout[data-callout="users"] {
    --callout-color: 200, 190, 70;
    --callout-icon: users;
}

/* Additional Callout Functionality */
.callout[data-callout-metadata*="sideways"] {
    & > .callout-title {
        position: relative;
        &  > .callout-title-inner {
            position: absolute;
            left: calc(-1.5 * var(--size-4-3));
            top: calc(-1 * var(--size-4-3));
            writing-mode: vertical-rl;
            height: 20rem;
            font-size: 80%;
        }
    }
    & > .callout-content > p { margin: 0; }
}

.callout[data-callout-metadata*="no-title"] > .callout-title {
    display: none;
}

.callout[data-callout-metadata*="no-icon"] > .callout-title > .callout-icon {
    display: none;
}

.callout[data-callout-metadata*="no-fold"] > .callout-title > .callout-fold { 
    display: none;
}


.callout[data-callout-metadata*="scale-150"] > .callout-title {
    & > .callout-icon, > .callout-fold {
        width: calc(1.5 * var(--callout-fold-height));
        height: calc(1.5 * var(--callout-fold-height));
        transform: scale(1.5);
        display: grid
        align-items: center;
        justify-content: center;
    }
}

.callout[data-callout-metadata*="scale-200"] > .callout-title {
    & > .callout-icon, > .callout-fold   {
        width: calc(2 * var(--callout-fold-height));
        height: calc(2 * var(--callout-fold-height));
        transform: scale(2);
        display: grid
        align-items: center;
        justify-content: center;
    }
}


/****************
 Headerless Transclusions 
****************/

.internal-embed[alt*="no-1h"] h1,
.internal-embed[alt*="no-2h"] h2,
.internal-embed[alt*="no-3h"] h3,
.internal-embed[alt*="no-4h"] h4,
.internal-embed[alt*="no-5h"] h5,
.internal-embed[alt*="no-6h"] h6 {
    display: none;
}

.internal-embed[alt*="no-h"] h1,
.internal-embed[alt*="no-h"] h2,
.internal-embed[alt*="no-h"] h3,
.internal-embed[alt*="no-h"] h4,
.internal-embed[alt*="no-h"] h5,
.internal-embed[alt*="no-h"] h6 {
    display: none;
}


/****************
 Column Layouts
****************/

.pws-cols-2 { width: 50%; float: left; }
.pws-cols-3 { width: 32%; float: left; }
.pws-cols-4 { width: 25%; float: left; }


/****************
 Seamless Transclusions
****************/

.markdown-embed {
    border: none;
    box-shadow: none;
    padding: 0;
}

.markdown-embed-title {
    display: none;
}

.markdown-embed .markdown-embed-link {
    display: none;
}


/****************
 Code Blocks
****************/

.pws-code-nowrap pre > code {
    text-wrap: nowrap;
}


/****************
 Tables
****************/

.markdown-rendered table {
    & thead th, & tbody td {
        font-size: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
        padding: var(--size-2-2) var(--size-4-2);
    }
    & thead {
        border-bottom: 1px solid;
    }
}

.pws-tables-nowrap table {
    & thead th, & tbody td {
        white-space: nowrap;
    }
}

.pws-tables-nohead table {
    & thead {
        display: none;
    }
}

.pws-tables-colwidthmin table {
    & thead th, & tbody td {
        min-width: 8rem;
    }
}

.pws-tables-colwidthcap table {
    & thead th, & tbody td {
        max-width: 20rem;
    }
}

.pws-tables-equispaced table {
    table-layout: fixed;
    width: 100%;
}

.pws-tables-title-col1 table tbody td:nth-of-type(1) { font-size: 100%; font-weight: bold; }
.pws-tables-title-col2 table tbody td:nth-of-type(2) { font-size: 100%; font-weight: bold; }
.pws-tables-title-col3 table tbody td:nth-of-type(3) { font-size: 100%; font-weight: bold; }

.pws-tables-shrink-edit .HyperMD-table-row {
    min-width: 100% !important;
    text-wrap: wrap;
    &:nth-of-type(even) { background-color: rgb(var(--colour-neutral-medium-rgb)); }
    &:nth-of-type(odd) { background-color: black; }
    & .cm-hmd-table-sep-dummy { background-color: white; }
    & .cm-hmd-table-sep-0 { background-color: red; }
    & .cm-hmd-table-sep-1 { background-color: orange; }
    & .cm-hmd-table-sep-2 { background-color: yellow; }
    & .cm-hmd-table-sep-3 { background-color: green; }
    & .cm-hmd-table-sep-4 { background-color: blue; }
    & .cm-hmd-table-sep-5 { background-color: purple; }
    & .cm-hmd-table-sep-6 { background-color: magenta; }
    & .cm-hmd-table-sep-7 { background-color: cyan; }
}

.pws-tables-vertical-single {
    & table {
        display: grid;
        grid-template-columns: 20% 80%;
        & > thead { grid-column: 1 / 2; border: none; }
        & > tbody { grid-column: 2 / 3; border: none; }
        & > * > tr {
            display: block;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            & > th, & > td {
                display: block;
                height: 1.5rem;
                & > span {
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                & > .dataview.small-text {
                    display: none;
                }
            }
        }
    }
}

.pws-tables-noheader thead {
    display: none;
}


/****************
 Tables to Cards
****************/

/* Standard Cards */
.pws-tables-cards {
    
    & table {
        display: block;
        background: none !important;
        border: none !important;
        
        & thead, & tfoot {
            display: none;
        }
        
        & tbody {
            display: grid;
            height: auto;
            margin: var(--layout-spacing-standard);
            padding: var(--layout-spacing-standard);
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: calc(2 * var(--layout-spacing-standard));
            grid-row-gap: calc(2 * var(--layout-spacing-standard));
    
            @media (max-width: 800px) {
                grid-template-columns: 1fr;
            }
            
            & tr {
                display: block;
                height: auto;
                margin: 0;
                padding: var(--layout-spacing-standard);
                border-radius: var(--layout-spacing-standard);
                overflow: hidden;
                box-shadow: 0px 0px 2px 1px rgba(var(--colour-neutral-light-rgb), 0.3);
                transition-duration: 0.05s;
                
                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0px 0px 4px 2px rgba(var(--color-purple-rgb), 0.8);
                }
            }
            
            & td {
                display: block;
                height: auto;
                border: none;
                max-width: none;
                text-wrap: wrap !important;
                overflow: hidden !important;
            }
        }
    }
}

/* Cover Style Cards */
.pws-tables-cards.pws-tables-cards-cover,
.pws-tables-cards .pws-tables-cards-cover {
    
     & table tbody {

        & tr {
            position: relative;

            & > td:first-of-type {
                position: absolute;
                left: calc(-1 * var(--layout-spacing-standard));
                top: calc(-1 * var(--layout-spacing-standard));
                overflow: hidden;
                height: calc(100% + 4 * var(--layout-spacing-standard));
                width: calc(100% + 4 * var(--layout-spacing-standard));
                background-color: rgba(var(--colour-neutral-dark-rgb), 0.8);
                
                & span {
                    height: 100%;
                    width: 100%;
                }
                
                & img {
                    position: relative;
                    object-fit: cover;
                    top: 50%;
                    transform: translateY(-50%);
                    min-width: 100%;
                    min-height: 100%;
                    z-index: 10;
                    filter: blur(1px) brightness(30%) saturate(70%);

                }
 
            }
            
            & > td:not(:first-of-type) { 
                position: relative;
                z-index: 30;
            }
            
        }        
    }
}

/* Social Style Cards */
.pws-tables-cards.pws-tables-cards-social,
.pws-tables-cards .pws-tables-cards-social {
    
    & table tbody {

        & tr {
            position: relative;
            overflow: hidden;
        
            & > td:first-of-type {
                float: left;
                position: relative;
                left: calc(-2 * var(--layout-spacing-standard));
                top: calc(-2 * var(--layout-spacing-standard));
                overflow: hidden;
                height: calc(100% + 4 * var(--layout-spacing-standard));
                width: 35%;
                
                & span {
                    height: 100%;
                    width: 100%;
                }
                
                & img {
                    object-fit: cover;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            
            & > td:not(:first-of-type) {
                position: relative;
                left: calc(-2 * var(--layout-spacing-standard));
                margin: calc(0.5 * var(--layout-spacing-standard));
                padding: 0;
            }
            
            & > td:nth-of-type(n+2) { font-size:  80%; }
            
        }        
    }
}

/* CCG Style Cards */
.pws-tables-cards.pws-tables-cards-ccg,
.pws-tables-cards .pws-tables-cards-ccg {
    
    & table tbody {

        & tr {
            position: relative;
            overflow: hidden;
            height: var(--cards-ccg-height);
            box-shadow: 2px 2px 3px 0px rgba(var(--colour-neutral-medium-rgb), 0.6);
            border: 1.5px outset rgba(var(--colour-neutral-dark-rgb), 0.5);
            
            & > td:first-of-type {
                position: absolute;
                left: calc(-1 * var(--layout-spacing-standard));
                top: calc(-1 * var(--layout-spacing-standard));
                overflow: hidden;
                height: calc(100% + 4 * var(--layout-spacing-standard));
                width: calc(100% + 4 * var(--layout-spacing-standard));
                z-index: 10;
                
                & span {
                    height: 100%;
                    width: 100%;
                }
                
                & img {
                    position: relative;
                    object-fit: cover;
                    top: 50%;
                    transform: translateY(-50%);
                    min-width: 100%;
                    min-height: 100%;
                    filter: blur(1px) brightness(30%) saturate(70%);
                }
            }
            
            & > td:nth-of-type(2) {
                position: relative;
                overflow: hidden;
                height: 50%;
                width: 100%;
                margin: 0 auto var(--layout-spacing-standard);
                padding: 0;
                border-radius: var(--layout-spacing-standard) var(--layout-spacing-standard) 0 0;
                border: 1px inset rgba(var(--colour-neutral-dark-rgb), 0.5);
                z-index: 20;
                
                & span {
                    height: 100%;
                    width: 100%;
                }
                
                & img {
                    position: relative;
                    object-fit: cover;
                    top: 50%;
                    transform: translateY(-50%);
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            
            & > td:nth-of-type(n+3) { 
                position: relative;
                z-index: 30;
            }
            
        }        
    }
}

/* Tickler Style Cards */
.pws-tables-cards.pws-tables-cards-tickler,
.pws-tables-cards .pws-tables-cards-tickler {
    
    & table tbody {
        display: block !important;
        height: auto;
        margin: 0;
        padding: var(--layout-spacing-standard);
        
        & > tr {
            display: flex;
            align-items: flex-start;
            height: calc(1rem + var(--layout-spacing-standard));
            padding: 0;
            margin: var(--layout-spacing-standard);
            overflow: hidden;
            position: relative;
            
            & > td {
                display: inline-block;
                text-wrap: nowrap;
                overflow: hidden;
                padding: calc(0.5 * var(--layout-spacing-standard)) var(--layout-spacing-standard) ;
                & > span {
                    text-wrap: nowrap;
                }
            }
            
            & > td:first-of-type {
                position: absolute;
                left: calc(-1 * var(--layout-spacing-standard));
                top: calc(-1 * var(--layout-spacing-standard));
                overflow: hidden;
                height: calc(100% + 4 * var(--layout-spacing-standard));
                width: calc(100% + 4 * var(--layout-spacing-standard));
                
                
                & span {
                    height: 100%;
                    width: 100%;
                }
                
                & img {
                    position: relative;
                    object-fit: cover;
                    top: 50%;
                    transform: translateY(-50%);
                    min-width: 100%;
                    min-height: 100%;
                    z-index: 10;
                    filter: blur(1px) saturate(80%);
                }
                
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(to right, rgba(var(--colour-neutral-dark-rgb), 0.8), rgba(var(--colour-neutral-dark-rgb), 0.7));
                    z-index: 20;
                }
                
            }
            
            & > td:nth-of-type(n+1) {z-index: 30; }
            & > td:nth-of-type(3)   {flex: 1; text-wrap: nowrap; }
            & > td:nth-of-type(n+4) {display: none; }
                
            &:hover {
                display: block;
                height: auto;
                max-height: 15rem;
                scroll: auto;
                & > td > span { text-wrap: wrap; }
                & > td:first-of-type    { z-index: -10; }
                & > td:nth-of-type(n+2) { display: block; z-index: 30; }
            }   
        }        
    }      
}


/***************
 Mermaid
****************/

.mermaid svg { 
    max-width: 100%; 
    height: auto;
}

.pws-mermaid-fullsize {
    & .mermaid { overflow: scroll; }
    & svg { max-width: none; height: auto; }
}

.pws-mermaid-undecorate .mermaid .internal-link {
	text-decoration: none;
	color: var(--text-normal);
}


/****************
 Publish UI
****************/

.site-footer                     { display: none; }
.pws-backlinks-hidden .backlinks { display: none !important; } /* IFF excluded by dedicated cssclass setting */


/****************
 Dataview
****************/

div.dataview-error-box {
    min-height: 0px;
    border-style: none;
}



/****************
 Properties
****************/

/* Style: Pills */
.pwa-properties-pill-container {
    line-height: 2.5em;
}

.pwa-properties-pill {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pwa-properties-class,
.pwa-properties-state,
.pwa-properties-internal,
.pwa-properties-other {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: var(--callout-radius);
    mix-blend-mode: var(--callout-blend-mode);
}
    
.pwa-properties-class {
    display: inline;
    background-color: rgba(var(--color-cyan-rgb), 0.15);
    color: rgba(var(--color-cyan-rgb), 0.8) !important;
    
    & a {
        color: rgba(var(--color-cyan-rgb), 0.8) !important;
    }
}

.pwa-properties-state {
    display: inline;
    background-color: rgba(var(--color-orange-rgb), 0.15);
    color: rgba(var(--color-orange-rgb), 0.8) !important;
    
    & a {
        color: rgba(var(--color-orange-rgb), 0.8) !important;
    }
}

.pwa-properties-tag {
    display: inline;
    margin: 0.25em;
}

.pwa-properties-other,
.pwa-properties-internal {
    display: none;
    background-color: rgba(var(--colour-neutral-light-rgb), 0.1);
    color: rgba(var(--colour-neutral-light-rgb), 0.8);
}

.pws-properties-nopills .pwa-properties-pill-container {
    display: none;
}

.pws-properties-otherpills .pwa-properties-other {
    display: inline;
}

.pws-properties-internalpills .pwa-properties-internal {
    display: inline;
}

/* Style: Raw */
.pws-properties-raw .frontmatter {
    display: block !important; 
}

/* Style: Peek */
.pws-properties-peek {
    
    & .frontmatter {
        display: block !important; 
        overflow: hidden;
        max-height: 1.5em; 
        opacity: 0.2;
        transition: max-height var(--anim-duration-fast), opacity var(--anim-duration-fast);
        
        &::before {
            content: "Properties";
        }
        
        &:hover {
            overflow: scroll;
            max-height: 12em;
            opacity: 1;
        }
    }
}



